.calendar {
  text-align: center;
}

.calendar-content {
  background-color: #282c34;
  color: white;
}

.calender-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-grid-item {
  background: #393f4b;
  padding: 20px;
  text-align: center;
  width: 150px;
  height: 150px;
}

.container.slider {
  width: 30%;
  padding: 10px;
}

.circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
