.calendar {
  text-align: center;
}

.calendar-content {
  background-color: #282c34;
  color: #ffffff;
}

.calender-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-grid-item {
  background: #393f4b;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 150px;
}

.container.slider {
  width: 30%;
}
